*
  margin 0
  padding 0

body
  background color-background
  color color-font
  font-family font-default
  font-size 18px
  text-shadow 0 0 1px transparent
  @media screen and (max-width: 1260px)
    margin 0 30px
  @media screen and (max-width: 600px)
    font-size 12px

h1, h2, h3, h4, h5, h6
  font-family font-title
  font-weight bold

h1
  font-size 30px

h2
  font-size 28px

h3
  font-size 26px

h4
  font-size 24px

h5
  font-size 22px

h6
  font-size 20px


a
  text-decoration none
  color color-link
  &:hover
    text-decoration none

.alignleft
  float left

.alignright
  float right

.clearfix
  clearfix()

.inner
  width page-width
  margin 0 auto
  position relative
  @media screen and (max-width: 1260px)
    width 100%

#main-col
  width 900px
  @media screen and (max-width: 1260px)
    width 100%
    margin-right -300px
  @media screen and (max-width: 900px)
    margin-right 0
    float none

#wrapper
  @media screen and (max-width: 1260px)
    margin-right 300px
  @media screen and (max-width: 900px)
    margin-right 0

#content
  padding-top 20px

.blank-space
  padding 15px 0
  background-color #fff