// Custom styles.

.logo-line-before,
.logo-line-after {
    display: none;
}

.posts-expand {

    .post-title,
    .post-meta {
        text-align: center;
    }

    .post-meta {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .post-button {
        margin-top: 50px;
        text-align: center;

        a {
            color: #000;
            border: none;
            padding: 0 10px;
        }

        .btn {
            position: relative;
            display: inline-block;
            outline: none;
            border: 1px solid #bbb;
            text-decoration: none;
            opacity: 1;
            transition: all 0.2s;
        }

        .btn:hover,
        .btn:focus {
            border-color: #3ce;
        }
    }
}