<div id="main-col" class="alignleft">
  <div id="wrapper">
    <%- partial('_partial/article', {item: page, index: false}) %>
  </div>
</div>

<aside id="post-toc" class="alignright">
    <%- partial('_partial/content.ejs') %>
</aside>