.index-content {
  font-size: 22px;
}

.index-header {

}

.index-body {
  margin-left: 2em;
}

.archive-name {
  font-size: 1.7em; 
  text-align: center;
  margin-bottom: 50px;
}

.archive-year {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 1.3em;
}

.archive-item {
  margin-top: 10px;
  margin-left: 15px;
}

.archive-item .archive-date {

}

.archive-item .post-title {
  margin-left: 10px;
}

.paginition {
  margin-top: 90px;
  margin-left: 30px;
  font-size: 1.05em;
}

.paginition-body {
  margin-left: 5px;
}

.paginition-body .page-number {
  margin-right: 25px;
}

.paginition-body .current {
  font-weight: bold;
}

.paginition-body .space {
  margin-right: 25px;
}

.paginition-body .extend {
  margin-right: 25px;
}
