.post-content {
  font-size: 22px;
}

.article-header {
  margin-bottom: 3em;
}

.article-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.article-meta {
  text-align: center;
  margin-top: 0.5em;
}

.article-date {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.article-category {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.article-content {

}

.article-tag-list {
  padding-top: 0.5em;
  padding-left: 0.5em;
  border-top: solid 1px #bbb;
  margin-bottom: 3em;
}

.article-tag-list .post-tag {
  font-size: 0.8em;
  color: #666;
  margin-left: 1em;
}

.article-content h1 {
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0em;
}

.article-content h2 {
  font-size: 1.6em;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin: 0em;
}

.article-content h3 {
  font-size: 1.3em;
  padding-top: 1em;
  margin: 0em 0.2em;
}

.article-content h4 {
  font-size: 1.15em;
  padding-top: 0.8em;
  margin: 0em 0.2em;
}

.article-content h5 {
  font-size: 1.08em;
  padding-top: 0.5em;
  margin: 0em 0.2em;
}

.article-content h6 {
  font-size: 1.02em;
  padding-top: 0.5em;
  margin: 0em 0.2em;
}

.article-content p {
  font-size: 1em;
  line-height: 1.55em;
  text-indent: 2em;
  margin: 1.5em 0.5em;
}

.article-content img {
  padding: 1em 0.5em;
}

.article-content table {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  border-collapse: collapse;
  font-size: 1.1em;
  border: solid 2px #666;
}

.article-content table tr th {
  padding: 0.5em 0.8em;
  border-bottom-width: 2px;
  border-bottom-color: #666;
}

.article-content table tr th:first-child {
  border-right-width: 2px;
  border-right-color: #666;
}

.article-content table tr td {
  padding: 0.2em 0.8em;
}

.article-content table tr td:first-child {
  border-right-width: 2px;
  border-right-color: #666;
}

.article-content th, td {
  border: solid 1px #bbb;
}

.article-content pre {
  padding-top: 1em;
  padding-bottom: 1em;
}

.article-content pre code {
  padding: 1em 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-top: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
}

.article-content blockquote {
  padding-left: 0.5em;
  margin: 3em 0em 3em 3em;
  border-left: solid 5px #bbb;
  background-color: #fcfcfc;
}

.article-content blockquote p {
  margin: 0;
  padding: 0.5em;
}
